@inherits LayoutComponentBase
@implements IDisposable

@inject Session           CurrentSession
@inject NavigationManager NavigationManager
<div class="h-full w-full flex flex-col">
    <NavBar OnToggleMenu="ToggleMenu" Usuario="@Usuario"/>

    <div class="flex flex-grow flex-row">
        <div>
            <NavMenu IsOpen="@_menuVisible"/>
        </div>

        <main class="w-full h-full">
            @Body
        </main>
    </div>
</div>

@code {

    private bool _menuVisible;

    private Usuario? Usuario => CurrentSession.Usuario;

    private void ToggleMenu() {
        _menuVisible = !_menuVisible;
        StateHasChanged();
    }

    protected override void OnInitialized() {
        string currentUri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();

        if ((CurrentSession.Usuario == null)
         && !string.IsNullOrEmpty(currentUri)
         && !currentUri.StartsWith("login")
         && !currentUri.StartsWith("register")) {
            NavigationManager.NavigateTo("/");
        }

        // Esto sirve para interrumpir la carga de páginas y que no pueda acceder a una zona
        // protegida sin estar logueado.
        NavigationManager.RegisterLocationChangingHandler(LocationChangingHandler);
        NavigationManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    void LocationChanged(object? sender, LocationChangedEventArgs e) {
        string currentUri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();

        switch (CurrentSession.Usuario) {
            case null: {
                if (!currentUri.StartsWith("login") && !currentUri.StartsWith("register")) {
                    NavigationManager.NavigateTo("/login");
                }

                break;
            }

            case { IsAdmin: false, }: {
                if (currentUri.StartsWith("login") && currentUri.StartsWith("register")) {
                    NavigationManager.NavigateTo("/");
                }

                break;
            }
                
            case { IsAdmin: true, }: {
                if (currentUri.StartsWith("login")) {
                    NavigationManager.NavigateTo("/");
                }

                break;
            }
        }
    }

    private ValueTask LocationChangingHandler(LocationChangingContext arg) {
        if (!arg.IsNavigationIntercepted) {
            return ValueTask.CompletedTask;
        }

        string currentUri = NavigationManager.ToBaseRelativePath(arg.TargetLocation).ToLower();

        if ((CurrentSession.Usuario == null) && !currentUri.StartsWith("login") && !currentUri.StartsWith("register")) {
            arg.PreventNavigation();
        }

        return ValueTask.CompletedTask;
    }

    void IDisposable.Dispose() {
        NavigationManager.LocationChanged -= LocationChanged;
    }

}