@implements IDisposable
@using SGE.Aplicacion.Entidades
@inherits LayoutComponentBase
@inject Session           CurrentSession
@inject NavigationManager NavigationManager
<div class="h-full w-full flex flex-col">
    <NavBar Usuario="@Usuario" OnToggleMenu="ToggleMenu"/>

    <div class="flex flex-grow flex-row">
        <div>
            <NavMenu IsOpen="@_menuVisible"/>
        </div>

        <main class="w-full h-full">
            @Body
        </main>
    </div>
</div>

@code {
    
    private bool _menuVisible;
    
    private Usuario? Usuario => CurrentSession.Usuario;
    
    private void ToggleMenu() {
        _menuVisible = !_menuVisible;
        StateHasChanged();
    }

    protected override void OnInitialized() {
        string currentUri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        if ((CurrentSession.Usuario == null) 
         && !string.IsNullOrEmpty(currentUri) 
         && !currentUri.StartsWith("login") 
         && !currentUri.StartsWith("register")) {
            NavigationManager.NavigateTo("/", true);
        }
        NavigationManager.RegisterLocationChangingHandler(LocationChangingHandler);
        NavigationManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }
    
    void LocationChanged(object? sender, LocationChangedEventArgs e) {
        string currentUri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        if ((CurrentSession.Usuario == null) && !currentUri.StartsWith("login") && !currentUri.StartsWith("register")) {
            NavigationManager.NavigateTo("/login", true);
        }
        
        if ((CurrentSession.Usuario != null) && (currentUri.StartsWith("login") || currentUri.StartsWith("register"))) {
            NavigationManager.NavigateTo("/", true);
        }
    }
    
    private ValueTask LocationChangingHandler(LocationChangingContext arg) {
        // If url is not login or register and user is not logged in, redirect to login
        
        if (!arg.IsNavigationIntercepted) {
            return ValueTask.CompletedTask;
        }
        
        string currentUri = NavigationManager.ToBaseRelativePath(arg.TargetLocation).ToLower();
        if ((CurrentSession.Usuario == null) && !currentUri.StartsWith("login") && !currentUri.StartsWith("register")) {
            arg.PreventNavigation();
        }
        
        return ValueTask.CompletedTask;
    }
    
    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        NavigationManager.LocationChanged -= LocationChanged;
    }

}