@inject Session CurrentSession
<aside aria-label="Sidenav" class="fixed md:static left-0 z-40 w-64 h-full transition-transform @NavMenuVisible md:translate-x-0" id="default-sidebar">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <ul class="space-y-2">
            <li>
                <a aria-controls="dropdown-pages" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                   href="/expedientes/listar" type="button">
                    <i class="fa fa-duotone fa-folder-open menu-icon"></i>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Expedientes</span>
                </a>
            </li>
            <li>
                <a aria-controls="dropdown-sales" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                   href="/tramites/listar" type="button">
                    <i class="fa fa-duotone fa-file-lines menu-icon"></i>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Trámites</span>
                </a>
            </li>
            <li>
                <a aria-controls="dropdown-sales" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                   href="/usuarios" type="button">
                    <i class="fa fa-duotone fa-user menu-icon"></i>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Usuarios</span>
                </a>
            </li>
        </ul>
        <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
            <li>
                <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg transition duration-75 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group" href="#">
                    <i class="fa fa-duotone fa-info-circle menu-icon"></i>
                    <span class="ml-3">Acerca de...</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="hidden absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full lg:flex bg-white dark:bg-gray-800 z-20 border-r border-gray-200 dark:border-gray-700">
    </div>
</aside>

@code {

    [Parameter] public bool IsOpen { get; set; }

    private string NavMenuVisible => IsOpen ? "" : "-translate-x-full";

    private bool   ShowExpedientesMenu    { get; set; } = false;
    private bool   ShowTramitesMenu       { get; set; } = false;
    private bool   ShowUsuariosMenu       { get; set; } = false;
    private bool   PuedeVerUsuariosMenu   => CurrentSession.Usuario != null;
    private bool   IsAdmin                => CurrentSession.Usuario is { IsAdmin: true };
    private string ExpedientesMenuVisible => ShowExpedientesMenu ? "" : "hidden";
    private string TramitesMenuVisible    => ShowTramitesMenu ? "" : "hidden";
    private string UsuariosMenuVisible    => ShowUsuariosMenu && PuedeVerUsuariosMenu ? "" : "hidden";

}