<div aria-hidden="@(_visible ? "false" : "true")" aria-modal="@(_visible ? "true" : "false")"
     class="@(_visible ? "flex" : "hidden") overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full" id="successModal" tabindex="-1">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <button class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="successModal" @onclick="() => _visible = false" type="button">
                <i class="fas fa-times"></i>
                <span class="sr-only">Cerrar</span>
            </button>
            @if (Error) {
                <div class="w-12 h-12 rounded-full bg-yellow-100 dark:bg-yellow-700 p-2 flex items-center justify-center mx-auto mb-3.5">
                    <i class="fa fa-duotone fa-exclamation-triangle text-yellow-500 dark:text-yellow-200 text-2xl"></i>
                    <span class="sr-only">Error</span>
                </div>
            } else {
                <div class="w-12 h-12 rounded-full bg-green-100 dark:bg-green-900 p-2 flex items-center justify-center mx-auto mb-3.5">
                    <i class="fa fa-duotone fa-check text-green-500 dark:text-green-400 text-2xl"></i>
                    <span class="sr-only">Éxito</span>
                </div>
            }
            <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">@_message</p>
            <button class="py-2 px-3 text-sm font-medium text-center text-white rounded-lg bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:focus:ring-primary-900"
                    @onclick="() => _visible = false" type="button">
                Continuar
            </button>
        </div>
    </div>
</div>
@if (_visible) {
    <div class="bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40" modal-backdrop=""></div>
}

@code {

    [Parameter] public bool Error { get; set; }

    private string? _message;
    private bool    _visible;

    public void Mostrar(string message, bool error = false) {
        _message = message;
        Error    = error;
        _visible = true;
        StateHasChanged();
    }

}