@page "/expedientes/{Id:int?}"
@using SGE.Aplicacion.CasosDeUso

@inject ExpedienteBuscarPorIdConTramitesCasoDeUso _expedienteBuscarPorIdConTramitesCasoDeUso
@inject NavigationManager                         NavigationManager

@if (Expediente == null) {
    <p>Expediente no encontrado</p>
} else {
    <ExpedienteCRUD Expediente="@Expediente"/>
}

@code {
    [Parameter] public int? Id { get; set; }

    private Expediente? Expediente { get; set; }

    protected override void OnInitialized() {
        if (Id == null) {
            NavigationManager.NavigateTo("/expedientes/listar");
            return;
        }
        
        Expediente = _expedienteBuscarPorIdConTramitesCasoDeUso.Ejecutar(Id.Value);
    }

}