@page "/tramites/{Id:int?}"
@using SGE.Aplicacion.CasosDeUso

@inject TramiteBuscarPorIdCasoDeUso _tramiteBuscarPorIdCasoDeUso
@inject NavigationManager                         NavigationManager

@if (Tramite == null) {
    <p>Expediente no encontrado</p>
} else {
    <TramiteCRUD Tramite="@Tramite"/>
}

@code {
    [Parameter] public int? Id { get; set; }

    private Tramite? Tramite { get; set; }

    protected override void OnInitialized() {
        if (Id == null) {
            NavigationManager.NavigateTo("/tramites/listar");
            return;
        }
        
        Tramite = _tramiteBuscarPorIdCasoDeUso.Ejecutar(Id.Value);
    }

}